<div class="table-responsive">
    <table id="mytable" class="table table-bordred table-striped">
        <thead>
            <th><input type="checkbox" id="checkall" /></th>
            <th>*</th>
            <th>First namee</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        
        <tbody>
            <tr *ngFor="let p of people">
                <td><input type="checkbox" class="checkthis" /></td>
                <td> {{ p.id }}</td>
                <td> {{ p.firstName }}</td>
                <td> {{ p.lastName }}</td>
                <td> {{ p.email }}</td>
                <td> {{ p.phone }}</td>
                <td><app-person-update></app-person-update></td>
                <td><app-person-delete></app-person-delete></td>
            </tr>
        </tbody>
    </table>