<div class="col-md-12">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <ng-template #content let-c="close" let-d="dismiss">
                    <div class="modal-header">
                      <h4 class="modal-title" id="modal-basic-title">Mise à jour de la personne</h4>
                      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <form #f="ngForm" (ngSubmit)="updatePeopleData()" >
                            <div class="container">
                                <div class="form-group">
                                    <label> First name: </label>
                                    <input type="text" class="form-control" [(ngModel)]="person.firstName" name="firstName">
                                </div>
                                <div class="form-group">
                                    <label> Last name: </label>
                                    <input type="text" class="form-control" [(ngModel)]="person.lastName" name="lastName">
                                </div>
                    
                                <div class="form-group">
                                    <label> Email: </label>
                                    <input type="text" class="form-control" [(ngModel)]="person.email" name="email">
                                </div>
                
                                <div class="form-group">
                                    <label> Phone: </label>
                                    <input type="text" class="form-control" [(ngModel)]="person.phone" name="phone">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-warning" (click)="c(update())">Update</button>
                    </div>
                  </ng-template>
                  <button class="btn btn-warning" (click)="open(content)">Update</button>
            </div>
        </div>
    </div> 
</div>

