<div class="col-md-12"><br><br><br><br>
    <div style="text-align: center">
        <h3>Manage people</h3><br><br><br><br>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <ng-template #content let-c="close" let-d="dismiss">
                    <div class="modal-header">
                      <h4 class="modal-title" id="modal-basic-title">Ajouter une personne</h4>
                      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <form (ngSubmit)="insertPeopleData()" novalidate>
                            <div class="container">
                                <div class="form-group">
                                    <label> First name: </label>
                                    <input type="text" required #control="ngModel" class="form-control" id="firstName" [(ngModel)]="person.firstName" name="firstName">
                                </div>
                                <div class="form-group">
                                    <label> Last name: </label>
                                    <input ytype="text" required #control="ngModel" class="form-control" id="lastName" [(ngModel)]="person.lastName" name="lastName">
                                </div>
                    
                                <div class="form-group">
                                    <label> Email: </label>
                                    <input type="text" required #control="ngModel" class="form-control" id="email" [(ngModel)]="person.email" name="email">
                                </div>
                
                                <div class="form-group">
                                    <label> Phone: </label>
                                    <input type="text" required #control="ngModel" class="form-control" id="phone" [(ngModel)]="person.phone" name="phone">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-success" (click)="c(insertPeopleData())">Save</button>
                    </div>
                  </ng-template>
                  <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Ajouter une personne</button>
            </div>
        </div>
    </div>
    <br><br><br><br> 
</div>

